body {
  background-color: #131312;
  color: #ccc;
}

.pl-options {
  font-size: 5em;
  cursor: pointer;
  /* filter: hue-rotate(180deg); makes blue */
}

.co-options {
  font-size: 5em;
}

.flex-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new_game_btn {
  margin-top: 30px;
  padding: 15px 32px;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
}
